body {
    background-color: #0f172a;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.botao {
    text-decoration: none;
    background-color: #e63946;
    color: #ffffff;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.botao:hover {
    background-color: #1d3557;
}